<header id="header__main">
  <h1><a href="#">Returns Management</a></h1>
  <nav id="nav__main">
    <ul>
      <li><a href="/dashboard" class=<%=activeItem==="dashboard" && "active" %>>Dashboard</a></li>
      <li><a href="/movements" class=<%=activeItem==="movements" && "active" %>>Movements</a></li>
      <li><a href="/configuration" class=<%=activeItem==="configuration" && "active" %>>Configuration</a></li>
      <li><a href="/about" class=<%=activeItem==="about" && "active" %>>About</a></li>
      <li>
        <form action="/logout" method="POST">
          <button id="logout-btn">Logout</button>
        </form>
      </li>
    </ul>
  </nav>
</header>