<header id="header__main">
  <h1><a href="#">Returns Management</a></h1>
  <nav id="nav__main">
    <ul>
      <li><a href="index.html" class="<%= activeItem === "index" && "active" %>">Dashboard</a></li>
      <li><a href="/movements" class="<%= activeItem === "movements" && "active" %>">Movements</a></li>
      <li><a href="/configuration" class="<%= activeItem === "configuration" && "active" %>">Configuration</a></li>
      <li><a href="about.html" class="<%= activeItem === "about" && "active" %>">About</a></li>
    </ul>
  </nav>
</header>
