<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head') %>

    <link rel="stylesheet" href="/styles/about.css" />
</head>

<body>
  <%- include('partials/header', {activeItem: "about" }) %>

    <main class="basic-main">
      <section id="tool-description">
        <h2>Tool description</h2>
        <article id="main-goals">
          <p>
            The app's main goal is to keep track of the Inverse Logistics of the
            Company. <br />
            <br />
            By specifying the input and output of the different assets that are
            used for transportation of the goods that the Company provides to
            each Customer, it is able to give a detailed status of those assets.
            <br />
            <br />
            In addition, each Customer can have a different configuration of the
            allowed delay for those assets to be returned. This allows the
            dashboard to make a summary of the tracked items and give the
            Management usefull information to act accordingly
          </p>
        </article>

        <article id="instructions">
          <h2>Instructions</h2>
          <ol>
            <li>
              Add in the Configuration Tab the information about the Customer
              and the policies for returns
            </li>
            <li>
              Use the Movements Tab for getting details of every single movement
              assets
            </li>
            <li>
              Use the Dashboard Tab to get a simple summary for the status of
              every Customer
            </li>
          </ol>
        </article>
      </section>

      <section id="contact">
        <h3>Contact information</h3>
        For reporting any bugs, suggestions and/or questions about the app,
        please contact the admin at <span>romoguill@gmail.com</span>
      </section>
    </main>
</body>

</html>