<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head') %>
    <link rel="stylesheet" href="/styles/header.css" />

</head>

<body>
  <%- include('partials/header', {activeItem: "dashboard" }) %>


    <main>
      <table id="table__quantity-by-client">
        <thead>
          <tr>
            <th>Client</th>
            <th>Q ok</th>
            <th>Q warning</th>
            <th>Q exceeded</th>
          </tr>
        </thead>
      </table>

      <table id="table__quantity-by-product">
        <thead>
          <tr>
            <th>Product</th>
            <th>Q ok</th>
            <th>Q warning</th>
            <th>Q exceeded</th>
          </tr>
        </thead>
      </table>


    </main>
</body>

</html>