<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head') %>
    <link rel="stylesheet" href="/styles/header.css" />

</head>

<body>
  <%- include('partials/header', {activeItem: "dashboard" }) %>


    <main>

    </main>
</body>

</html>