<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head') %>

    <link rel="stylesheet" href="/styles/header.css" />
</head>

<body>
  <%- include('partials/header', {activeItem: "none" }) %>

    <main>
      <p>You are trying to access an Admin area. You don't have permission!</p>
    </main>
</body>

</html>