#configuration .filters__container form {
  display: block;
}

#configuration .filters__container form .form__filters {
  width: 300px;
  margin: 0 auto;
}

.table {
  grid-template-columns:
    minmax(100px, 1fr)
    minmax(100px, 1fr)
    minmax(100px, 1fr)
    minmax(100px, 1fr)
    minmax(100px, 1fr)
    minmax(100px, 1fr)
    minmax(100px, 1fr)
    minmax(20px, 0.4fr);
}

.btn__edit-delete {
  display: flex;
  justify-content: space-around;
}

.btn__edit-delete button {
  border: none;
  font-size: 0.7rem;
  background-color: transparent;
  color: red;
  cursor: pointer;
}

#button__create-config {
  position: absolute;
  top: 75px;
  right: 30px;
  font-size: 4rem;
  border: none;
  color: rgb(66, 167, 66);
  background-color: transparent;
  cursor: pointer;
}

#button__create-movement:hover {
  color: rgb(60, 161, 60);
}
