/* FILTERS */
.filters__container {
  padding: 1rem 2rem;
  background-color: rgb(167, 203, 245);
}

.filters__container form {
  display: grid;
  align-items: center;
  justify-content: center;
}

.filters__container label {
  display: block;
  font-weight: bold;
  color: #333;
  margin-bottom: 0.5rem;
}

.filters__container input {
  padding: 0.2rem;
  border: 2px solid transparent;
  border-radius: 4px;
  outline: none;
}

.filters__container input:focus,
.filters__container input:target {
  border: 2px solid var(--color-blue-dark);
}

.date__filters :first-child {
  margin-bottom: 0.4rem;
}
