* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.basic-main {
  width: 60%;
  margin: 3rem auto 0 auto;
  background-color: rgb(200, 209, 233);
  height: 80vh;
  box-shadow: 1px 1px 4px #aaa;
  color: #333;
  padding: 0 2rem;
}

.btn {
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin: var(--space-2);
}

.btn-primary {
  background-color: var(--color-blue-dark);
  color: white;
}

.btn-secondary {
  color: var(--color-blue-dark);
}

#backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: none;
}
