:root {
  --color-gray-light: rgb(196, 212, 224);
  --color-gray-medium: rgb(139, 150, 158);
  --color-gray-dark: rgb(22, 24, 26);

  --color-blue-dark: rgb(47, 90, 131);
  --color-blue-light: rgb(167, 203, 245);
}
