:root {
  --color-gray-light: rgb(196, 212, 224);
  --color-gray-medium: rgb(139, 150, 158);
  --color-gray-dark: rgb(22, 24, 26);

  --color-blue-dark: rgb(47, 90, 131);
  --color-blue-light: rgb(167, 203, 245);

  --border-radius-small: 3px;
  --border-radius-medium: 6px;

  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-4: 1rem;
  --space-6: 1.5rem;
  --space-8: 2rem;
}
